/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Variables */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito', Arial, sans-serif;
}

:root {
    --black: #333;
    --white: #FFF;
    --white-alt: #F5F5F5;
    --red: #CC3333;
    --blue: #3333CC;
}

/* Styles */

body {
  color: var(--black);
  font-family: 'Roboto', 'Arial', sans-serif
}

main {
    overflow: hidden;
    margin: 0;
    padding: 20px 15vw;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    height: 40px;
    background-color: var(--white-alt);
}

header img {
    height: 40px;
    margin: 0 32px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-item {
    position: relative;
    color: var(--black);
    margin: 0 32px;

    font-family: 'Nunito', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.nav-item::after {
    display: block;
    width: 0%;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;

    content: '';

    transition: all ease-in-out 200ms;
    background-color: var(--red);
}

.nav-item:hover::after {
    width: 100%;
}

.nav-icon, .nav-icon-active{
    display: none;
}

@media (max-width: 500px) {
    header {
        justify-content: center;
    }

    .nav-item {
        display: none;
    }

    .nav-icon, .nav-icon-active{
        display: inline-block;
    }
    .nav-icon img, .nav-icon-active img{
        margin-left: 16px;
    } 
}

.nav-active::after {
    display: block;
    opacity: 1;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    top: 23px;

    content: '';

    background-color: var(--black);
}

.social {
    float: right;
}

.social-img {
    height: 30px;
    width: auto;
    margin: 0 10px;
}

article {
    width: 100%;
}

p {
    max-width: 75ch;
    line-height: 1.5;
}

main li {
    max-width: 75ch;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

    padding: 16px;
    margin-bottom: 4px;
    background-color: #FAFAFA;
}
.portfolio-entry {
    font-size: 16px;
    line-height: 24px;
}
.portfolio-year {
    font-size: 14px;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;

    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    background-color: var(--white-alt);
}

footer img {
    height: 24px;
}

@media (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .social {
        margin: 8px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}